<h1>Edit a gift recipient:</h1>

<form action="/giftees/<%= @giftee.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
<input type="text" name="name" value="<%= @giftee.name %>">
<input type="text" name="gift" value="<%= @giftee.gift %>">
<input type="submit" name="submit" value="submit">
</form>

<a href="/giftee/new">Add another giftee</a><br>
<a href="/giftees">View all your gift recipients</a><br>
<a href="/logout">Log out</a>
