<h1>Here are all recipients of gifts, <%= current_user.name %> </h1>

<ol>
<% @giftees.each do |giftee| %>
<%if giftee.user_id == current_user.id %>
<li><a href="/giftees/<%=giftee.id%>"><%= giftee.name %></a></li>
<%else%><li>Anonymous!</li>
<%end%>
<%end%>
</ol>
<a href="/giftees/new">Create a new recipient for your gift!</a><br>
<a href="/logout">Log out</a>
