<h1>Add a new person whom you would like to get a gift for:</h1>

<form action="/giftees" method="post">
  <input type="text" name="name" value="name" placeholder="Name:">
  <input type="text" name="gift" value="gift" placeholder="Gift Name:">
  <input type="submit" name="submit" value="submit">
</form>
