<h1>Giftee: <%= @giftee.name%></h1><br>
<h2>Gift: <%= @giftee.gift%></h2>

<a href="/giftees">Back to list</a><br>
<a href="/giftees/new">Add another person!</a><br>
<a href="/giftees/<%=@giftee.id%>/edit">Edit this entry!</a>
