<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Login Below:</h1>

<form action="/login" method="post">

<input type="text" name="name" placeholder="Username:">
<input type="password" name="password" placeholder="Password:">
<input type="submit" name="submit" value="Log in">

</form>

Don't have an account? <a href="/signup">Sign up!</a>
