<h1>Login Below:</h1>

<form action="/login" method="post">

<input type="text" name="name" value="name" placeholder="Username:">
<input type="text" name="password" value="password" placeholder="Password:">
<input type="submit" name="submit" value="submit">

</form>

Don't have an account? <a href="/signup">Sign up!</a>
