<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Sign up!</h1>

<form action="/signup" method="post">


<input type="text" name="name" placeholder="Username:">
<input type="password" name="password" placeholder="Password">
<input type="submit" value="Sign Up">

</form>

Have an account already? <a href="/login">Log in here!</a>
