<h1>Welcome to your Christmas Shopping Organizer!!</h1>
<iframe src="https://giphy.com/embed/ivsZjx2zTTSo0" width="480" height="476" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/christmas-other-ivsZjx2zTTSo0"></a></p><br>
<a href="/login">Log in!</a><br>
<a href="/signup">Sign up!</a>
